<nav class="navbar navbar-inverse container-fluid navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Tiago Sampaio</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </li>
    <li><a [routerLink]="['/calculator']" routerLinkActive="active">Calculator</a></li>
    <li><a [routerLink]="['/EvAndRef']" routerLinkActive="active">EvAndRef</a></li>
    <li><a [routerLink]="['/Shop/Add']" routerLinkActive="active">Shop</a></li>
    <li><a [routerLink]="['/anime']" routerLinkActive="active">Anime</a></li>
    <li><a [routerLink]="['/piada']" routerLinkActive="active">Piada</a></li>

  </ul>
  </div>
</nav>
