<div class="home">
    <div class="cv d-flex flex-row">
        <div class="split col-lg-3 d-flex flex-column align-items-center">
            <div class="avatar"></div>  
        </div>
        <div class="split col-lg-9 ">
           <div class="info"> 
                <h1>Elon Musk</h1>
                <br>
                <p>"When something is important enough, you do it even if the odds are not in your favor."</p>
            </div>
            <div class="graphs">
                <div class="skillBox">
                    <p>Clown</p>
                    <p>100%</p>
                    <div class="skill">
                        <div class="skill_level"></div>
                    </div>
                </div>
                <div class="skillBox">
                    <p>Smart Ideas</p>
                    <p>80%</p>
                    <div class="skill">
                        <div class="skill_level" style="width: 80%"></div>
                    </div>
                </div>
                <div class="skillBox">
                    <p>Nonsense</p>
                    <p>50%</p>
                    <div class="skill">
                        <div class="skill_level" style="width: 50%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>