.page{
  width: 100vw;
  min-height: calc(100vh - 56px);
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: darkslategrey;
  color: white;
  overflow-x: hidden;
}
.choice{
  width: 90vw;
  align-self: center;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button, input{
  outline: none;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}
button{
  margin-top: 1%;
}

.lista{
  width: 90%;
  height: 75%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.lista img{
  width: 240px;
  height: 346px;
  margin-top: 2%;
  margin-bottom: 2%;
}
